<match scalyr.*>
  @type scalyr
  api_write_token YOUR_WRITE_LOGS_API_TOKEN

  ##Scalyr specific options
  # server_attributes {
  #   "serverHost": "front-1",
  #   "serverType": "frontend",
  #   "region":     "us-east-1"
  # }
  # scalyr_server https://agent.scalyr.com/
  # ssl_ca_bundle_path /etc/ssl/certs/ca-bundle.crt
  # ssl_verify_peer true
  # ssl_verify_depth 5
  # force_message_encoding nil
  # replace_invalid_utf8 false


  <buffer>
  #  retry_max_times 40
  #  retry_wait 5s
  #  retry_max_interval 30s
  #  flush_interval 5s
  #  flush_thread_count 1
  #  chunk_limit_size 100k
  #  queue_limit_length 1024
  </buffer>

</match>
